$default: #7b7b7b;
$accent: #a3bbc8;
$title: #191919;
$titlegreen: #243f4d;

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%sans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%sans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%sans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}