.related{
  max-width: 1170px;
  margin: 0 auto 35px;
  position: relative;
  &__btn-box{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__btn-prew,
  &__btn-next{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover{
      border: 1px solid $accent;
    }
  }
  &__title{
    padding-top: 10px;
    color: $titlegreen;
    font-size: 36px;
    @extend %sans-700;
    margin-bottom: 110px;
  }
  &__item{
    max-width: 270px;
  }
}

@media (max-width: 1500px){
  .related {
    padding: 0 20px;
    &__title{
      margin-bottom: 60px;
    }
    .slick-slide {
      text-align: center;
  }
}
}

@media (max-width: 1100px){
  .related {
    &__btn-box{
      right: 15px;
    }
}
}

@media (max-width: 700px){
  .related {
    &__title{
      font-size: 32px;
    }
}
}
@media (max-width: 500px){
  .related {
    &__title{
      font-size: 24px;
      text-align: center;
    }
    &__btn-box{
      display: none;
    }
}
}