

.filter__title{
  text-transform: uppercase;
  @extend %sans-700;
  font-size: 18px;
  line-height: 18px;
  color: $titlegreen;
  display: inline-block;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    background-color: $accent;
    width: 38px;
    height: 2px;
    top: 8px;
    right: -51px;
  }
}

.catalog{
  &__inner{
    width: 1170px;
    margin: 0 auto;
    padding: 145px 0 110px;
    display: flex;
  }
  &__filters{
    min-width: 270px;
    margin-right: 45px;
  }
  &-category{
    padding-bottom: 70px;
  }
  &__content{
    width: 855px;
  }
}


.catalog-price{
  padding-bottom: 80px;
  &__form{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    color: $titlegreen;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 43px;
  }
}

.irs--flat{
  .irs-line {
    height: 1px;
    background-color: $accent;
    border-radius: 0;
  }
  .irs-bar {
    height: 3px;
    background-color: $accent;
  }
  .irs-handle>i:first-child {
    width: 15px;
    height: 100%;
    transform: translateY(-30%);
    background-color: $accent;
}

 .irs-min, .irs-max, .irs-from, .irs-to, .irs-single {
  display: none;
  }
} 

.catalog-category{
  &__form{
    padding-top: 40px;
    padding-left: 15px;
  }
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @extend %rubik-400;
    line-height: 43px;
    color: $titlegreen;
    position: relative;
    & + .catalog-category__label{
      margin-top: 10px;
    }
    &--active{
      background-color: #dae4eb;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .catalog-category__checkbox{
      transform: rotate(90deg);
    }
  }
  &__checkbox{
    background-image: url("../images/icons/littleArrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 11px;
    min-height: 11px;
    position: absolute;
    margin-left: -16px;
    margin-top: -6px;
  }

}

.catalog-brand{
  &__form{
    padding-top: 40px;
    padding-left: 15px;
    margin-bottom: 60px;
  }
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @extend %rubik-400;
    line-height: 43px;
    color: $titlegreen;
    position: relative;
    & + .catalog-brand__label{
      margin-top: 10px;
    }
    &--active{
      background-color: #dae4eb;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .catalog-brand__num{
      color: $titlegreen;
    }
  }
  &__num{
    color: #b3b3b3;
  }

}
.catalog-recent{
  
  &__items{
    padding-top: 35px;
  }
  &__item{
    display: flex;
    margin:0 0 30px 10px;
  }
  &__img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-right: 20px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %rubik-400;
    line-height: 16px;
    color: #333333;
  }
  &__name{
    padding-top: 5px;
    font-size: 14px;
  }
  &__price{
    font-size: 15px;
  }
}


.filter-search{
  width: 270px;
  height: 45px;
  margin-bottom: 60px;
  &__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #d6e3e8;
  }
  &__input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0 5px;
    margin-right: 5px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    & svg{
      margin-top: 6px;
    }
  }
}


.recent-posts{
  max-width: 270px;
  & ul{
    padding-top: 40px;
  }
  &__item{
    display: flex;
    height: 70px;
    & + .recent-posts__item{
      margin-top: 22px;
    }    
  }
  &__img{
    max-width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  &__link{
    @extend %rubik-400;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 10px;
  }
  &__date{
    text-transform: uppercase;
    color: #9a9a9a;
    font-size: 12px;
    line-height: 12px;
  }
}