

ul.design__items{
  display: grid;
  grid-template-columns: repeat(3, 370px);
  justify-content: space-between;
    grid-row-gap: 90px;
  padding-bottom: 140px;
  
}
.design{
  max-width: 1170px;
  margin: 0 auto;
  &__item{
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: 78% 55%;
    padding-left: 30px;
  }
  &__item-title{
    padding-top: 10px;
    color: #191919;
    @extend %sans-700;
    font-size: 20px;
    max-width: 184px
  }
}


@media (max-width: 1500px){
  ul.design__items{
    grid-template-columns: repeat(3, 30%);
 
  }
  .design{
    &__item{
      padding-left: 12px;
    }
  }
}

@media (max-width: 1100px){
  ul.design__items{
    grid-template-columns: repeat(2, 40%); 
    justify-content: center; 
  }
}

@media (max-width: 900px){
  ul.design__items{
    grid-template-columns: repeat(1, 50%);
    grid-row-gap: 25px;
  }
}

@media (max-width: 700px){
  ul.design__items{
    grid-template-columns: repeat(1, 70%);
  }
}
@media (max-width: 500px){
  ul.design__items{
    grid-template-columns: repeat(1, 98%);
  }
  .design__item-title {
    font-size: 16px;
}
}